body {
    background-color: rgb(245, 247, 247);
    background-image: url(http://s.op.gg/images/noise.png);
    padding-bottom: 70px;
    padding-top: 20px;
}

.center {
    margin: auto;
    text-align: center;
}

.mainbar {
    
}

.footer {
    background-color: #bcbcbc;
    height: 70px;
}

div img {
    margin: auto;
}

.Box1 {
    min-width: 200px;
    min-height: 200px;
    margin-left: 0;
    margin-right: auto;
    max-width: 225px;
    margin-top: 10px;
    border-width: 1px;
    border-color: rgb(165, 165, 250);
    border-radius: 3px;
    border-style: solid;
    background-color: white;
}

.BoxGames {
    margin-top: 10px;
    border-width: 1px;
    border-color: rgb(165, 165, 250);
    border-radius: 3px;
    border-style: solid;
}
.GameWon
{
    background-color: #b6daf2;
}
.GameLost
{
    background-color: #ebc6c3;
}

.SummonerProfile {
    text-align: center;
    width: auto;
    margin: auto;
}

.SummonerProfileAvatar {
    margin-top: 10px;
}

.SummonerRatings {
    text-align: center;
}

.ratingStatSummaryType {
}

.ratingMedal {
    
}

.leagueName {
    
}

.tierRank {
}