<div class="row">
    <div class="col-sm-4 col-lg-2 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img class="img-responsive" ng-src="http://avatar.leagueoflegends.com/euw/{{summoner.name}}.png">
            </div>
            <div class="panel-footer center">
                level {{summoner.summonerLevel}}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading center" ng-if="league[0].name">
                <div class="tierName">{{league[0].name}}</div>
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="/img/divisions/{{currentDivision}}.png" data-original="//s.op.gg/images/medals/default.png">
            </div>
            <div class="panel-footer">
                <div class="center" style="text-transform: capitalize">{{currentDivisionText}}</div>
            </div>
        </div>

        <!--div class="Box1 SummonerRatings">
            <div class="SummonerRatings ratingStatSummaryType">Ranked Solo 5v5</div>
            <div class="SummonerRatings ratingMedal">
                <img class="" src="/img/divisions/{{currentDivision}}.png" data-original="//s.op.gg/images/medals/default.png" style="display: inline;">
            </div>
            <div class="SummonerRatings leagueName">&nbsp;</div>
            <div class="SummonerRatings tierRank">
                <div class="tierName">{{league[0].name}}</div>
                <div class="tierRank" style="text-transform: capitalize">{{currentDivisionText}}</div>
            </div>
        </div-->
    </div>


    
    <div class="col-sm-8 col-lg-4 col-xs-12">
        <div class="row">
            <h1>{{summoner.name}} <small>id: {{summoner.id}}</small></h1>
        </div>
        <div class="row">
            <span ng-repeat="sum in summary">{{ConstantsSummaryType[sum.playerStatSummaryType]}} wins: {{sum.wins}}<br/></span>
            <div>Total wins: {{summary.totalWins}}</div>
        </div>
    </div>


    
    <div class="col-sm-8 col-lg-5 col-xs-12">
        <div class="row">
            <h1>Recent games</h1>
        </div>
        <div class="row">
            <accordion close-others="false">
                <accordion-group ng-repeat="game in games" class="panel" ng-class="game.stats.win ? 'panel-info' : 'panel-danger'" is-open="status[$index].open">
                    <accordion-heading>
                        {{ConstantsSubType[game.subType]}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status[$index].open, 'glyphicon-chevron-right': !status[$index].open}"></i>
                    </accordion-heading>
                    {{game.championId}}
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>